<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
#* @vtlvariable name="stringEscapeUtils" type="org.apache.commons.lang.StringEscapeUtils" *#
#* @vtlvariable name="repository" type="com.atlassian.bitbucket.repository.Repository" *#
#* @vtlvariable name="smtpNotificationRenderer" type="be.foreach.bitbucket.hook.SmtpNotificationRenderer" *#
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>TITLE</title>
<style type="text/css">
<!--
#msg span, #msg, #header, #footer { font-family: Tahoma, Geneva,sans-serif; font-size: 8pt;  }
#msg dl a:link    { color:#fc3; }
#msg dl a:active  { color:#ff0; }
#msg dl a:visited { color:#cc6; }
h3 { font-family: Tahoma, Geneva,sans-serif; font-size: 10pt; }
#patch h4 { font-family: Tahoma, Geneva,sans-serif; }
-->
</style>
</head>
<body style="background: #f1f1f1; padding: 0; margin: 0; font-family: Tahoma, Geneva,sans-serif;"> 
    #set( $isNewBranch = $smtpNotificationRenderer.isCreatedBranch( $refChange ) )
    <div style="font-family: Tahoma, Geneva,sans-serif; color:#484848; font-size: 10pt;">
        <table style="font-family: Tahoma, Geneva,sans-serif; width: 100%">
            <tr>
                <td style="background: #E5E5E5; color: #222; padding: 5px 10px; margin:0;">
                #if( $smtpNotificationRenderer.isDeletedBranch( $refChange ) )
                    #if ( $smtpNotificationRenderer.isTag( $refChange ) )
                        #branchstatus( 'Tag <b>DELETED</b>' $currentUser )
                    #else
                        #branchstatus( 'Branch <b>DELETED</b>' $currentUser )
                    #end
                #else
                    #if( $isNewBranch )
                        #if ( $smtpNotificationRenderer.isTag( $refChange ) )
                            #branchstatus( 'Tag <b>CREATED</b>' $currentUser )
                        #else
                            #branchstatus( 'Branch <b>CREATED</b>' $currentUser )
                        #end
                #else
                    #branchstatus( '<b>PUSH</b>' $currentUser )
                #end
                </td>
            </tr>
            <tr><td style="padding-bottom: 10px; font-size: 0;">&nbsp;</td></tr>
        </table>
        #set( $hasCommitsOnOnlyThisBranch = false )
        #set( $commits = $smtpNotificationRenderer.getChangesetPage( $repository, $refChange ) )
        #set( $numberOfChangesToShow = 10 )
        #set( $skippedBranches = 0 )
        #if( $commits && $commits.size > 0 )
            #foreach( $commit in $commits.values.iterator() )
                #set( $branches = $smtpNotificationRenderer.getBranches( $repository, $commit ) )
                #if( $branches.size() == 1 && $isNewBranch || !$isNewBranch )
                <div id="msg">

                    <table style="background: #369; color: #E5E5E5; width: 100%;">
                        <tr style="padding:0 margin:0;">
                            <td style="padding: 5px 0 0 10px; font-size: 10pt; font-weight: bold; margin:0; font-family: Tahoma, Geneva,sans-serif;">Commit</td>
                        </tr>
                        <tr style="padding:0; margin:0;"> #set( $parents = $commit.parents )
                            <td style="padding: 0 0 5px 20px; font-size: 10pt; margin:0; font-family: Tahoma, Geneva,sans-serif;">
                                #set( $changesetUrl = $smtpNotificationRenderer.getChangesetUrl( $repository, $commit ) )
                                <a href="$changesetUrl" style="color: #fc3;">$smtpNotificationRenderer.getShortHash($commit.id)</a> #if( $parents && $parents.size() > 1 ) - parents: #foreach ( $parent in $parents )<a href="$smtpNotificationRenderer.getMinimalChangesetUrl( $repository, $parent )" style="color: #fc3;">$parent.displayId</a>#if( $velocityHasNext )+#end#end#end
                            </td>
                        </tr>
                    </table>

                    <table><tr><td style="padding-bottom: 5px; font-size:0;">&nbsp;</td></tr></table>

                    <table style="background: #369; color: #E5E5E5; width: 100%;">
                        <tr style="padding:0 margin:0;">
                            <td style="padding: 5px 0 0 10px; font-size: 10pt; font-weight: bold; margin:0; font-family: Tahoma, Geneva,sans-serif;">Contained in branches</td>
                        </tr>
                        <tr style="padding:0; margin:0;"> #set( $parents = $commit.parents ) <td style="padding: 0 0 5px 20px; font-size: 10pt; margin:0; font-family: Tahoma, Geneva,sans-serif;">#foreach( $branch in $branches ) $branch #if( $velocityHasNext ) / #end#end</td></tr>
                        #if( $branches.size() == 1 ) #set( $hasCommitsOnOnlyThisBranch = true ) #end
                    </table>

                    <table><tr><td style="padding-bottom: 5px; font-size:0;">&nbsp;</td></tr></table>

                    <table style="background: #369; color: #E5E5E5; width: 100%;">
                        <tr style="padding:0 margin:0;">
                            <td style="padding: 5px 0 0 10px; font-size: 10pt; font-weight: bold; margin:0; font-family: Tahoma, Geneva,sans-serif;">Author</td>
                        </tr>
                        <tr style="padding:0 margin:0;"><td style="padding: 0 0 5px 20px; font-size: 10pt; margin:0; font-family: Tahoma, Geneva,sans-serif;">$commit.author.name - <a href="mailto:$commit.author.emailAddress" style="color: #fc3;">$commit.author.emailAddress</a></td></tr>
                    </table>

                    <table><tr><td style="padding-bottom: 5px; font-size:0;">&nbsp;</td></tr></table>

                    <table style="background: #369; color: #E5E5E5; width: 100%;">
                        <tr style="padding:0 margin:0;">
                            <td style="padding: 5px 0 0 10px; font-size: 10pt; font-weight: bold; margin:0; font-family: Tahoma, Geneva,sans-serif;">Date</td>
                        </tr>
                        <tr style="padding:0 margin:0;">
                            <td style="padding: 0 0 5px 20px; font-size: 10pt; margin:0; font-family: Tahoma, Geneva,sans-serif;">$commit.authorTimestamp</td>
                        </tr>
                    </table>

                    <table style="width: 100%; padding: 0 15px;">
                        <tr><td style="padding-bottom: 10px; font-size:0;">&nbsp;</td></tr>
                        <tr>
                            <td>
                                <h3 style="font-size:10pt; padding:0px; margin:0;">LOG MESSAGE</h3>
                            </td>        
                        </tr>
                        #set( $commitMessage = $commit.message )
                        <tr>
                            <td>
                                <pre style="overflow: auto; background: #ffc; border: 1px #fc0 solid; padding: 6px;">$smtpNotificationRenderer.unescapeHtml4( $commitMessage )</pre>
                            </td>
                        </tr>
                        <tr><td style="padding-bottom: 5px; font-size:0;">&nbsp;</td></tr>
                    </table>
                </div>
                <div id="patch"> #set( $detailedChangesetPage = $smtpNotificationRenderer.getDetailedChangesetPage( $repository, $commits, $commit ) )
                    <table style="width: 100%; padding-left: 15px;">
                        #if( $detailedChangesetPage.size > 0 )
                            #if( $renderLightEmail )
                                <tr><td><h3 style="font-size:10pt; padding:0px; margin:0;">$detailedChangesetPage.size MODIFIED PATH(S)</h3></td></tr>
                            #else
                                <tr><td><h3 style="font-size:10pt; padding:0px; margin:0;">MODIFIED PATH(S)</h3></td></tr>
                                <tr>
                                    <td>
                                        <ul>
                                            #foreach ( $changesetPage in $detailedChangesetPage.values.iterator() )
                                                #set( $changesetPage = $smtpNotificationRenderer.getChanges( $changesetPage ) )
                                                #foreach( $change in $changesetPage.values.iterator() ) #set( $remainingChanges = $changesetPage.size - $numberOfChangesToShow )
                                                    #if( $velocityCount > $numberOfChangesToShow )
                                                        <li><a href="$changesetUrl" style="color: #369;">... $remainingChanges more changes</a></li>
                                                        #break
                                                    #end
                                                    <li><a href="$changesetUrl#$change.path" style="color: #369;">$change.path ($change.type)</a></li>
                                                #end
                                            #end
                                        </ul>
                                    </td>
                                </tr>
                            #end

                        #else
                            <tr><td><h3>No modified paths</h3></td></tr>
                        #end
                    </table>
                </div>
                #else
                    #set( $skippedBranches = $skippedBranches+1 )
                #end
            #end
            #if( $smtpNotificationRenderer.isCreatedBranch( $refChange ) )
                #if( $skippedBranches == 0 )
                    <table style="width: 100%; padding-left: 15px;">
                    <tr><td><p>No commits on this branch yet</p></td></tr>
                    </table>
                #else
                    <table style="width: 100%; padding-left: 15px;">
                        <tr><td><p>Skipped $skippedBranches commits from other branches</p></td></tr>
                    </table>
                #end
            #end
        #else
            <table style="width: 100%; padding-left: 15px;">
                <tr><td><p>No commits on this branch yet</p></td></tr>
            </table>
        #end
    #end
    </div>
</body>
</html>

#macro( branchstatus $status $currentUser  )
#set( $statusWithHtml = $status )<p style="margin: 0; padding:0; font-size: 12pt;">$statusWithHtml by $currentUser.displayName - $currentUser.emailAddress</p>
#end